<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService">
                    <security mode="None">
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:19998/OybabService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="Service.IService"
                name="NetTcpBinding_IService" />
            <endpoint address="net.tcp://localhost:19998/OybabService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService1" contract="Service.IService"
                name="NetTcpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>